body {
    background-color: rgb(14, 14, 23) !important;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    padding: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    flex-wrap: wrap;
    border: solid rgb(116, 79, 32);
    border-radius: 10px;
}


.display {
    height: 50px;
    background-color: rgb(96, 104, 108);
    text-align: right;
    padding: 12px;
    color: rgb(64, 216, 153);
    font-weight: 700;
}



.deletion {
    padding: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.btn {
    flex: 1 0 50%;
    height: 40px;
}

[data-operator] {
    background-color: rgb(167, 96, 49);
    font-weight: bold;
    font-size: larger;
}

.delete {
    background-color: rgb(117, 50, 67);
    color: aliceblue;
}

#equal-btn {
    background-color: rgb(106, 148, 43);
    font-size: larger;
}


.btn-elements {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-child {
    flex: 1 0 15%;
    margin: 5px;
    height: 50px;
}